* {
    font-family: 'MedievalSharp';
    font-weight: bold;
}

*::selection {
    background-color: yellow;
    color: purple;
}

body, html {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.creativefabrica.com/2022/02/20/Purple-abstract-texture-background-Graphics-25584971-1.jpg");
    background-attachment: fixed;
    margin: 0;
}

#characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5vh;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5vh;
    row-gap: 2vh;
}

#topContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
}

#answerText, .details {
    display: flex;
    justify-content: center;
}

#answerText p {
    color: white;
    text-align: center;
    width: 20vh;
}

.circleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: 20vh;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vh;
    height: 18vh;
    border: 0.28vh solid black;
    border-radius: 25vh;
}

.circle p {
    text-align: center;
}

#congratsMsg {
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5vh;
}

#congratsMsg p {
    margin: 0;
}

.hovElem {
    position: absolute;
    background-color: black;
    outline: 0.25vh solid red;
    padding: 0.2vh 0.4vh 0.2vh 0.4vh;
}

.hovElem p {
    margin: 0;
    color: red;
}

#leaderboard {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    width: 35vh;
    height: 35vh;
    top: 40%;
    background-color: black;
    border: 0.4vh solid red;
    z-index: 2;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

th, td {
    padding: 1vh;
    text-align: center;
    font-size: 2.5vh;
    color: white;
}

tr {
    border-top: 0.25vh solid red;
    border-bottom: 0.25vh solid red;
}

th {
    position: sticky;
    top: 0;
    background-color: red;
    color: black;
}

#closeBtn {
    position: fixed;
    left: 41.25%;
    top: 38.5%;
    font-size: 2.1vh;
    z-index: 2000;
}

#closeBtn:hover {
    cursor: pointer;
}

#closeBtn:active {
    cursor: grabbing;
}
