* {
    font-family: 'MedievalSharp';
    font-weight: bold;
}

*::selection {
    background-color: black;
    color: red;
}

body, html {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-bottom: 10vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.postimg.cc/05W06y8s/Clocktowerdle-Background.png");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

#characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5vh;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5vh;
    row-gap: 2vh;
}

#topContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
}

#answerText, .details {
    display: flex;
    justify-content: center;
}

#answerText p {
    text-align: center;
    width: 20vh;
}

p, td, label {
    font-size: 2.25vh;
    color: black;
    text-shadow: 0.1vh 0.1vh 0.5vh red;
}

select {
    background-color: black;
    color: white;
    border: 0.25vh solid red;
    box-shadow: 0.1vh 0.1vh 0.5vh grey;
    border-radius: 8vh;
}

select:hover {
    cursor: pointer;
}

select:active {
    cursor: grabbing;
}

button {
    padding: 0.55vh 1vh 0.35vh 1vh;
    background-color: #d40000;
    color: white;
    border: 0.25vh solid black;
    box-shadow: 0vh 0vh 0.25vh black;
    border-radius: 8vh;
    font-size: 1.8vh;
}

button:hover {
    background-color: black;
    color: white;
    border: 0.25vh solid red;
    box-shadow: 0.1vh 0.1vh 0.4vh red;
    cursor: pointer;
}

button:active {
    cursor: grabbing;
}

.circleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: 20vh;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vh;
    height: 18vh;
    border: 0.38vh solid red;
    border-radius: 25vh;
    box-shadow: 0.1vh 0.1vh 0.7vh #800000;
}

.circle p {
    text-align: center;
    
}

#congratsMsg {
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5vh;
}

#congratsMsg p {
    margin: 0;
}

.hovElem {
    position: absolute;
    background-color: black;
    outline: 0.25vh solid red;
    padding: 0.2vh 0.4vh 0.2vh 0.4vh;
    box-shadow: 0.2vh 0.2vh 0.5vh red;
}

.hovElem p {
    margin: 0;
    color: red;
    text-shadow: none;
}

#leaderboardTxt:hover {
    cursor: pointer;
}

#leaderboardTxt:active {
    cursor: grabbing;
}

#leaderboard {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    width: 35vh;
    height: 35vh;
    top: 40%;
    background-color: black;
    border: 0.4vh solid red;
    z-index: 2;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

th, td {
    padding: 1vh;
    text-align: center;
    font-size: 2.5vh;
    color: white;
    text-shadow: 0.1vh 0.1vh 0.5vh red;
}

tr {
    border-top: 0.25vh solid red;
    border-bottom: 0.25vh solid red;
}

th {
    position: sticky;
    top: 0;
    background-color: red;
    color: black;
    text-shadow: 0.05vh 0.05vh 0.4vh #550000;
}

#closeBtn {
    position: fixed;
    left: 41.25%;
    top: 38.5%;
    font-size: 2.1vh;
    z-index: 2000;
}

#closeBtn:hover {
    cursor: pointer;
}

#closeBtn:active {
    cursor: grabbing;
}
